        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>index</title>
        </head>

        <link rel="stylesheet" href ="../css/style.css">

        <body>
            <main>
                <div class="containerTitulo">
                    <header>
                        <img src="img/icono.png" width="8%" alt="">
    </header>

    <nav class="menu">
        <ul>
            <li>
                <a href="../index.html">
                    <img src="../img/index.jpg" width="30">
                </a>
            </li>
            <li>
                <a href="servicios.html">
                    <img src="../img/servicios.jpg" width="30">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../img/contacto.png" width="30"> 
                </a>
            </li>
        </ul>
    </nav>
                <div class="container">
                    <h1></h1>
                    <img src="../img/contactos_cap.png" style="width: 90%;" alt="">
                </div>

                <h2>Registro</h2>

    <form action="#" method="post">

        <label for="cc">Cédula (CC):</label><br>
        <input type="number" id="cc" name="cc" required><br><br>

        <label for="nombres">Nombres:</label><br>
        <input type="text" id="nombres" name="nombres" required><br><br>

        <label for="apellidos">Apellidos:</label><br>
        <input type="text" id="apellidos" name="apellidos" required><br><br>

        <label for="email">Correo electrónico:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="usuario">Usuario:</label><br>
        <input type="text" id="usuario" name="usuario" required><br><br>

        <label for="password">Contraseña:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">Enviar</button>


    </form>
        </main>
            </body>
            </html>