<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>creditos</title>
</head>

<link rel="stylesheet" href ="../css/style.css">

<body>
    <main>
        <div class="containerTitulo">
            <header>
                <img src="../img/incono.png" width="8%" alt="">
                Banco de Occidente
            </header>
        </div>

        <div class="container">
            <h3>Bienvenidos a su Banco de preferencia</h3>
            <img src="../img/saludo.avif" style="width: 90%;" alt="">
            <h5>SOAT</h5>
            <h3>Tu SOAT Facil y seguro</h3>
        </div>

        <div class="informacion">
            <h4>Tu dinero merece
            tranquilidad.</h4>
            <img src="../img/porcentaje.png" width="80%" alt="">
            <h3>traelo aqui y gana 9% E.A </h3>
        </div>

        <div class="text">
            <h3>Encuentra el producto que</h3>
            <h3>necesitas en un clic</h3>
        </div>
        
        <div class="links">
                <nav class="menu">
                    <ul>
                        <li><a href="../index.html">Destacado</a></li>
                        <li><a href="#">creditos</a></li>
                        <li><a href="cuentas.html">cuentas</a></li>
                    </ul>
                </nav>
        </div>

        <div class="segundo">
            <img src="../img/credito.jpg" width="100%" alt="">
        </div>
    </main>
</body>
</html>