        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>servicios</title>
        </head>

        <link rel="stylesheet" href ="../css/style.css">

        <body>
            <main>
                <div class="containerTitulo">
                    <header>
                        <img src="img/icono.png" width="8%" alt="">
    </header>

    <nav class="menu">
        <ul>
            <li>
                <a href="../index.html">
                    <img src="../img/index.jpg" width="30">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../img/servicios.jpg" width="30">
                </a>
            </li>
            <li>
                <a href="contactos.html">
                    <img src="../img/contacto.png" width="30"> 
                </a>
            </li>
        </ul>
    </nav>
                <div class="servicio">
                    <h1></h1>
                    <img src="../img/servicio_cap.png" style="width: 90%;" alt="">
                    <img src="../img/servicios_cap.png" style="width: 90%;" alt="">
                </div>
                <p>Descubre cómo gestionamos nuestras redes sociales y los lineamientos para interactuar en nuestros canales oficiales.</p>
            </main>
        </body>
        </html>